<div ng-controller="app.manager.movieCategory.edit as vm">
    <form name="movieCategoryEditForm" novalidate>
        <input type="hidden" name="id" value="{{vm.movieCategory.id}}" />
        <div class="form-group">
            <label class="form-group-key">@L("Title")</label>
            <div class="form-group-block">
                <div class="input-wrapper">
                    <input type="text" name="title" ng-model="vm.movieCategory.title" required ng-minlength="5">
                </div>
                <p class="validate-message error" ng-show="movieCategoryEditForm.title.$error.required">@L("TitleIsRequired")</p>
            </div>
        </div>
        <button type="submit" ng-disabled="movieCategoryEditForm.$invalid" class="button-text primary block" ng-click="vm.update()">@L("Save")</button>
    </form>
</div>