<div class="row">
    <div class="column-10 page-404">
        <div class="number font-red">404</div>
        <div class="details">
            <h3>@L("OopsYouAreLost")</h3>
            <p>
                @L("WeCanNotFindThePage")<br>
            </p>
        </div>
    </div>
</div>
