<div ng-controller="app.mobile.spreadPoster.index as vm">
    <div class="spread-poster" ng-if="vm.path">
        <button class="button-text radius button-recreate" ng-click="vm.reCreate()">@L("ReCreate")</button>
        <img ng-src="{{vm.path}}" />
    </div>
</div>
@Html.GetControllerStyles()