@using Application.Sessions.Dto
@using Application.WebSite.Areas.Mobile.Models.Layout
@model HeaderViewModel
@{ 
    var avatarPath = "/Content/Images/avatar.png";

    if (Model!=null&& Model.CurrentLoginInformations.User!=null)
    {
        avatarPath = Model.CurrentLoginInformations.User.Avatar;
    }
}
<div class="page-header color mobile" ng-controller="app.mobile.header as vm">
    <div class="page-header-wrapper">
        <button class="button-block"><img height="16" src="~/Content/WebFrame/image/back.png" /></button>
        <a class="title-block" href="/Mobile/Home/Index">
            <h5 class="title">@ViewBag.PageTitle</h5>
        </a>
        <div class="user-block">
            <a class="user-avatar-box" href="/Mobile/Member/Index">
                <img class="user-avatar imageCircle" src="@avatarPath">
            </a>
        </div>
    </div>
</div>