.page .page-footer{
    background: #333;
    padding: 2rem 1.2rem;
}
.page .page-footer p{
    text-align: center;
    font-size: 1.2rem;
}
.page .page-footer p:last-child{
    margin-bottom:0;
}
.page .page-footer p .copyright{
    color: #ccc;
}
.page .page-footer p .about-us{
    font-weight: bold;
    color: #fff;
}