.table+.pagination-container,
.responsive-table-container+.pagination-container{
    text-align:center;
}
ul.pagination{
    margin-bottom:1rem;
	padding-left:0;
	list-style-type:none;
}
.responsive-table-container+.pagination-container,
.table+.pagination-container{
    margin-top:-1rem;
}
.pagination-container ul.pagination{
    margin-bottom:0;
}
.pagination-container{
    padding:1rem;
    margin-bottom:1rem;
	text-align:center;
}
ul.pagination>li{
    display:inline-block;
    margin-right: 1rem;
}
ul.pagination>li>a{
    display:block;
    width:3.2rem;
    height:3.2rem;
    text-align:center;
    line-height:3rem;
    border:0.1rem solid rgba(0,0,0,0.1);
    border-radius:100%;
    font-size: 1.2rem;
    color: #333;
    background-color:#fff;
	-webkit-transition:0.3s;
}
ul.pagination>li.current{

}
ul.pagination>li.PagedList-skipToNext{

}
.pagination > li > a:hover,
.pagination > li > a:focus{
    background-color: rgba(255,255,255,0.5);
	border:0.1rem solid rgba(0,0,0,0.3);
}
.pagination > .current > a,
.pagination > .current > a:hover,
.pagination > .current > a:focus{
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #428bca;
}
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #999999;
    cursor: not-allowed;
    background-color: #ffffff;
    -webkit-user-select: none;
}