.profile{
    background-size: 100% 100%;
    padding: 1rem;
    position: relative;
}
.profile.light{
    color:#fff;
}

.profile .banner-img{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.profile .profile-box{
}
.profile .avatar-box{
    padding: 1rem 0;
}
.profile .avatar{
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    border: 0.2rem solid #fff;
}
.profile .name{
    text-align: center;
    font-weight: bold;
}
.profile-colored .name{
    color:#fff;
}
.profile-colored .property-box .property-item{
    color:#fff;
}
.property-box{
    text-align: center;
}
.property-box .property-item{
    display: inline-block;
}
.property-box .property-item [class*=icon-]{
    margin-right: 0.3rem;
}
.property-box .property-item:not(:last-child){
    margin-right:0.6rem;
}