data-icon-edit {
	display: inline-block;
    width: 1.6em;
    height: 1.6em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAlCAYAAAAuqZsAAAAAGXRFW…EUTMEUTMH+Bcb/xN0iTexRsGHdfVgP6hQEhUPq4s1HgAEAv4ZMZmcw3dwAAAAASUVORK5CYII=) no-repeat;
    background-size: 1.6em;
}
