<div class="body-nav">
	<ul class="nav-list">
		<li ng-repeat="menuItem in vm.userCenterMenu.items">
			<a href="{{menuItem.url}}">
				<img class="nav-icon" ng-src="{{menuItem.icon}}">
				<label class="title">{{menuItem.displayName}}</label>
			</a>
		</li>
	</ul>
</div>