@{
    ViewBag.CurrentPageName = PageNames.Frontend.Home;
}
<section>
	<img class="width-full" src="~/Content/Images/Home/Index/banner.png" alt="">
</section>
<section>
	<div class="container-responsive">
		<div class="row">
			<div class="padding-10">
				<h2 class="text-center fg-color-green">微信公众平台三级分销系统</h2>
				<p>助力传统微商快速转型、移动分销第一利器快速建立自己的微商销售平台！通过消费就能赚钱，这不是天方夜谭，而是一种最新的消费观念。以前品牌商通过传统渠道销售，铺天盖地的广告宣传最终嫁接到消费者头上。现在，品牌商把广告费用在消费者手上，只要你消费，我就给你返利，你就会主动去帮我宣传，我省下了广告费，你赚到了推广费。</p>
			</div>
		</div>
	</div>
</section>
<section class="container">
	<h3 class="text-center fg-color-green">什么是三级分销？</h3>
	<div class="row">
		<div class="column-3-3 padding-10">
			<h4 class="text-center">一级分销商</h4>
			<p>
				当你关注公众号点击“我要分销”成为成为分销商后，生成只属于你的二维码，把二维码发送给你的朋友A，A通过扫你的二维码进入商城购买商品，则A自动划分为你直属的一级分销商，分给你一级销售佣金20%，即59.60元。
			</p>
		</div>
		<div class="column-3-3 padding-10">
			<h4 class="text-center">二级分销商</h4>
			<p>
				A又把产品推荐给B，B通过扫A的二维码进入商城购买商品，则B自动划分为你的二级分销商，给你返二级佣金13%，即38.74元。%，即59.60元。
			</p>
		</div>
		<div class="column-3-3 padding-10">
			<h4 class="text-center">三级分销商</h4>
			<p>
				B又把产品推荐给C，C通过扫B的二维码进入商城购买商品，则C自动划分为你的三级分销商，给你返三级佣金7%，即20.86元。%，即38.74元。%，即59.60元。
			</p>
		</div>
	</div>
</section>
<section class="slider" data-ride="slider">
	<!-- Carousel items -->
	<div class="slider-inner">
		<div class="item">
			<img src="~/Content/Images/Home/Index/slider/1.jpg">
		</div>
		<div class="item">
			<img src="~/Content/Images/Home/Index/slider/2.jpg">
		</div>
	</div>
</section>
<section>
	<div class="container-responsive">
		<div class="row">
			<div class="column-4">
				<img class="width-full" src="~/Content/Images/Home/Index/channelSystem.jpg" />
			</div>
			<div class="column-6">
				<h3>商品管理</h3>
				<ul>
					<li>商家根据自己商品的规格、属性，价格，库存需要进行修改。</li>
					<li>系统会为每个商品生成一个专属二维码，方便用户扫码购物。</li>
					<li>另外，还提供开放商品的接口，支持数据同步给第三方平台，方便商家的统一管理。</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="column-4">
				<img class="width-full" src="~/Content/Images/Home/Index/channelSystem.jpg" />
			</div>
			<div class="column-6">
				<h3>订单管理</h3>
				<ul>
					<li>发货流程清晰便捷。按商家线下发货流程设计，规避了传统发货系统的繁琐。待配货--配货中--已发   货，并支持打印，发货流程清晰时跟踪发货动态。</li>
					<li>微信原路退款。针对退款订单，微信原路退款。同时也支持转账退款，以解决退款金额大于当日交   易金额造成无法退款的困扰。</li>
					<li>开放订单接口。开放订单接口，支持对接商家自己的ERP系统，将订单数据同步给ERP。方便商家   统一管理。</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="column-4">
				<img class="width-full" src="~/Content/Images/Home/Index/channelSystem.jpg" />
			</div>
			<div class="column-6">
				<h3>数据报表</h3>
				<ul>
					<li>交易数据。实时记录交易订单数据，包括买家信息、商品信息、订单信息，方便商家实时了解   销售动态，以及交易走势。</li>
					<li>会员数据。使用微信支付完成后，消费者可自动关注商家微信公众号。帮助商家留住顾客，建   立商家自己的会员体系。同时系统会记录每位会员的消费足迹，每位会员的累计消   费笔数、累计消费金额、退款笔数、退款金额都一目了然。</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="column-4">
				<img class="width-full" src="~/Content/Images/Home/Index/channelSystem.jpg"/>
			</div>
			<div class="column-6">
				<h3>渠道领导人竞争机制</h3>
				<p>升级为渠道代理商，为每个渠道代理商开设一条线， 渠道领导人享受本渠道内每一笔交易的业绩提成。</p>
			</div>
		</div>
		<div class="row">
			<div class="column-6">
				<h3>.等级奖励功能——会员激励竞争结算</h3>
				<p>你可以根据您会员的等级，设置不同的推荐购买提成，激发用户 重复消费，消费越多，提成越多。</p>
			</div>
			<div class="column-4">
				<img class="width-full" src="~/Content/Images/Home/Index/memberSystem.jpg" />
			</div>
		</div>
	</div>
</section>
<hr>
<section class="block-transparent padding-10">
    <div class="container-responsive">
        <div class="row margin-bottom-20">
            <div class="column-6 margin-bottom-20">
                <h2>Canknow微分销 帮您实现业绩爆炸式增长</h2>
                <p>以此类推，这就是我们所说的三级分销模式。发发链接、二维码即可赚大钱！我们的朋友圈一般有300人左右，如果按照3%的概率计既有10人购买计算，则最高可获3万多收益！这就是微商来“微分销系统”的超凡魅力！</p>
                <h2>告别锁屏、告别囤货、告别无流量、微商赚钱另有门道。</h2>
				<p>轻松实现让店员、零售人员、朋友圈为您分销产品，可实现多级裂变分销的店中店系统，轻松占领市场。</p>
            </div>
            <div class="column-4 margin-bottom-20">
                <a href="index.html"><img src="~/Content/Images/Home/Index/distributionPicture.jpg" alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="column-4">
                <a href="index.html"><img src="~/Content/Images/Home/Index/system.jpg" alt=""></a>
            </div>
            <div class="column-6 margin-bottom-20">
                <h2>收入自动结算，实时自动提现</h2>
                <p>交易完成后，订单利润由系统自动结算。钱包零钱将自动提现至您的微信钱包。如果提现处理失败，系统将每隔2小时重新提现直至成功处理。</p>
			</div>
        </div>
    </div>
	<hr>
	<section class="row text-center">
		<div class="column-2-5 padding-10">
			<img width="96" src="~/Content/Images/Home/Index/distribution.png" />
			<h3><a href="#">微分销商城</a></h3>
			<p>系统可以设定多级分销，理论上不限层级。不过一般设定为3级分销。</p>
		</div>
		<div class="column-2-5 padding-10">
			<img width="96" src="~/Content/Images/Home/Index/withDraw.png" />
			<h3><a href="#">返利实时自动提现</a></h3>
			<p>系统的任何一笔返利将在用户付款或者订单完成时候触发（可以设置返利时机），并且自动将该用户零钱剩余全额提现至微信钱包。</p>
		</div>
		<div class="column-2-5 padding-10">
			<img width="96" src="~/Content/Images/Home/Index/channel.png" />
			<h3><a href="#">无限代渠道代理</a></h3>
			<p>系统可以开通渠道代理功能。用户申请成为渠道代理商后，从该用户发展的无限层客户下单付款后，该代理均可获得设定金额的分红。</p>
		</div>
		<div class="column-2-5 padding-10">
			<img width="96" src="~/Content/Images/Home/Index/globalRebate.png" />
			<h3><a href="#">全局分红</a></h3>
			<p>系统可以设置若干微信参与全局分红，每笔订单该用户将获得设定金额的分红。</p>
		</div>
	</section>
</section>