<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>

    <link rel="stylesheet" href="../../css/global/common.css">

    <link rel="stylesheet" href="../../css/base/common.css">
    <link rel="stylesheet" href="../../css/base/button.css">
    <link rel="stylesheet" href="../../css/base/typography.css">
    <link rel="stylesheet" href="../../css/base/code.css">
    <link rel="stylesheet" href="../../css/base/form.css">
    <link rel="stylesheet" href="../../css/base/grid.css">

    <link rel="stylesheet" href="../../css/component/loader.css">
    <link rel="stylesheet" href="../../css/component/example.css">
</head>
<body>
<div class="container">
    <div class="example">
        <div class="loader-wraper height-em30 light">
            <div class="loader text">Loading</div>
        </div>
    </div>
</div>
</body>
</html>
