<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>

    <link rel="stylesheet" href="../../css/global/common.css">

    <link rel="stylesheet" href="../../css/base/common.css">
    <link rel="stylesheet" href="../../css/base/button.css">
    <link rel="stylesheet" href="../../css/base/typography.css">
    <link rel="stylesheet" href="../../css/base/code.css">
    <link rel="stylesheet" href="../../css/base/form.css">
    <link rel="stylesheet" href="../../css/base/grid.css">

    <link rel="stylesheet" href="../../css/component/profileItem.css">
    <link rel="stylesheet" href="../../css/component/example.css">
</head>
<body>
<div class="container">
    <div class="example">
        <div class="profileItem">
            <div class="profileItemAvatarBox">
                <img width="64" class="profileTtemAvatar imageCircle" src="../../image/avatar.png" />
            </div>
            <div class="profileItemBody">
                <h5 class="profileItemName">canknow</h5>
                <h5 class="profileItemAdditionalProperty">3230525823@qq.com</h5>
            </div>
        </div>
    </div>
</div>
</body>
</html>
